### Variables

Rule 
* A variable name must start with a letter or underscore character, but not a number
    * snake_case = standard for function, variable, method, module, package
    * UPPER_CASE = used for constant variables, like pi, euler number
    * camelCase or pascalCase = used in class, where the firsts letter is in lowercase
* Use = to assign values to variables

In [40]:
# Assigning multiple values

last_name, first_name, middle_name = ' Arubio', ' Jom', ' R.   '

print(last_name)
print(first_name)
print(middle_name)

 Arubio
 Jom
 R.

In [41]:
full_name = last_name + first_name + middle_name

### Data Types and methods
* Text Type: str
* Numeric Types: int, float, complex
* Sequence Types: list, tuple, range
* Mapping Types: dict
* Set Types: set, frozenset
* Boolean Type: bool
* Binary Types: bytes, bytearray, memoryview
* None Type: NoneType

In [21]:
# Data types examples
name = 'Jom'
age = 22
jobss = ['student', 'none']
job_duration ={
    'jobs': jobss, 
    "job_duration": [4, 0]
}
currently_employed: False
with_criminal_recode: None

# Pringintg data types
print(type(name))
print(type(age))
print(type(jobss))
print(type(job_duration))
print(type(currently_employed))
print(type(with_criminal_recode))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'NoneType'>

In [23]:
# Converting int to float type

age = float(age)
type(age)

float

In [24]:
currently_employed

False

In [31]:
bool("0")

True

##### Strings functions
* .lower and .upper
* .strip = to remove leading and trailing spaces

In [42]:
print(name.upper())
print(full_name)
print(full_name.strip())

JOM
 Arubio Jom R.
Arubio Jom R.

In [44]:
# Using .replace
print(full_name.replace('Jom', 'Jomari').upper().strip()) # can used multiple function pala

ARUBIO JOMARI R.

#### Operators
* Arithmetic +, -, *, /, %, **, //
* Assignment =, +=, -+ etc.
* Comparison ==, !=, >=, <=,>, <
* Logical and, or, not
* Identity is, is not
* Membership in, not in
* Bitwise %,v|, ^, ~, <<, >>

In [47]:
age -= 1
print(age)

21.0

In [53]:
1000 == 1001

False

In [54]:
# Multiplying a string to a number
print('Hello World, ' * 5)

Hello World, Hello World, Hello World, Hello World, Hello World,

#### List and Index

In [63]:
basket = ['pinya', 'bagoong', 'kutsilyo']
print(basket[0])
basket.append('pinggan')
print(basket)
basket.remove('kutsilyo') # Pwede na pala kahit ganito
print(basket)

pinya
['pinya', 'bagoong', 'kutsilyo', 'pinggan']
['pinya', 'bagoong', 'pinggan']

#### Dictionary
- treat it just like a table in excel
- column name is called key

In [66]:
person = {
    'name': ['Jom', 'Lunox', 'Alucard'],
    'power': ['air', 'fire'],
    'sex': ['M', 'F', 'M']
}

In [70]:
person

{'name': ['Jom', 'Lunox', 'Alucard'],
 'power': ['air', 'fire'],
 'sex': ['M', 'F', 'M']}

In [81]:
print(person['name'][0])

print(type(person))
print(type(person['name']))
print(type(person['name'][1]))

Jom
<class 'dict'>
<class 'list'>
<class 'str'>

In [87]:
# adding power
# we use append because inside the dictionary, the power is a list or multiple value na siya.
person['power'].append('martial arts')

# adding new key/ column
person['school'] ='PUP'
person

{'name': ['Jom', 'Lunox', 'Alucard'],
 'power': ['air', 'fire', 'martial arts'],
 'sex': ['M', 'F', 'M'],
 'school': 'PUP'}

#### if-else

In [88]:
x = 'red'

if x == 'red':
    print('Color is red')
elif x == 'blue':
    print('Color is blue')
else:
    print('Color is neither blur nor red')

Color is red

#### loops, for, while

In [92]:
# using for loop, more efficient and more control
for i in range(5):
    print('ngi')

ngi
ngi
ngi
ngi
ngi

In [95]:
# using while loop

x = 0
while x < 5:
    print('The value of x is:' , x)    
    x +=1
print('Finally, the value is', x)

The value of x is: 0
The value of x is: 1
The value of x is: 2
The value of x is: 3
The value of x is: 4
Finally, the value is 5

#### Function

In [101]:
def introduce(name, age, profession):
    print('Hello, my name is ' + name)
    print('I am, ' + str(age) + ' years old')
    print('I am working as a ' + profession)

In [103]:
# calling/ using the function
introduce('John Jomari', 22, 'freelancer') #input the three required input

Hello, my name is John Jomari
I am, 22 years old
I am working as a freelancer

In [105]:
# incase it is rumbled, but it is not a good practice
introduce(profession='freelancer', age =22, name ='John Jomari')

Hello, my name is John Jomari
I am, 22 years old
I am working as a freelancer

In [114]:
def introduce(name, age, profession=None, employed=True): #default value is true
    print('Hello, my name is ' + name)
    print('I am ' + str(age) + ' years old')
    
    if employed:
        print('I am working as a ' + profession)
        print('I am employed')
    else:
        print('I am finding a job')

In [117]:
introduce('John Jomari', 22, 'freelancer', False) # here, since nilagay na False, hindi magpprint yung job

Hello, my name is John Jomari
I am 22 years old
I am finding a job

In [116]:
introduce('John Jomari', 22, 'freelancer')

Hello, my name is John Jomari
I am 22 years old
I am working as a freelancer
I am employed

#### Class

In [121]:
class Person: #nakauppercase na siya since class na ito.

    def __init__(self, name, age, employed=True, profession=None):
        self.name = name
        self.age = age
        self.employed = employed
        self.profession = profession

In [122]:
mr_bean = Person(name='Mr. Bean', age=44, employed='True', profession='Comedian')

In [126]:
# What is your name?
mr_bean.name

'Mr. Bean'

In [124]:
# Mr bean, how old are you?
mr_bean.age

44

In [125]:
#Mr bean, are you employed
mr_bean.employed

'True'

In [145]:
# making the code more complex
# print('I am ' + str(self.age) + ' years old') --> print(f'I am {self.age} years old')

class Person: #nakauppercase na siya since class na ito.

    def __init__(self, name, age, employed=True, profession=None):
        self.name = name
        self.age = age
        self.employed = employed
        self.profession = profession

    def introduce(self): # i connect mo na itong function sa class, using self
        print('Hello, my name is ' + self.name) # para maacess yung name sa class, need maglagay ng self.name
        print(f'I am {self.age} years old')
        if self.employed:
            print('I am working as a ' + self.profession)
            print('I am employed')
        else:
            print('I am finding a job')

In [146]:
mr_bean = Person(name='Mr. Bean', age=44, employed='True', profession='Comedian')

In [147]:
mr_bean.introduce()

Hello, my name is Mr. Bean
I am 44 years old
I am working as a Comedian
I am employed

In [148]:
# trying it all again
jom = Person('Jomari', 22, False, 'influencer')

In [149]:
jom.introduce()

Hello, my name is Jomari
I am 22 years old
I am finding a job